# 01 Variable Assignment


### Assigning Variables

*Variable Assignment* dilakukan dengan cara `nama_varibel = objek`, tanda sama dengan `=` adalah *assignment operator*

#### Aturan penamaan variable
Aturan penulisan variabel dalam Python adalah sebagai berikut:
1. Karakter pertama harus berupa huruf atau garis bawah/underscore ( _ ) dan tidak boleh angka.
2. Karakter selanjutnya dapat berupa huruf, garis bawah/underscore ( _ ) atau angka.
3. Karakter pada nama variabel bersifat sensitif (*case-sensitif*). Artinya huruf kecil dan huruf besar dibedakan. Sebagai contoh, variabel `nama` dan `Nama`adalah variabel yang berbeda
4. Nama tidak boleh ada spasi, gunakan garis bawah/underscore ( _ )
5. Nama tidak boleh ada simbol berikut :
    `:'",<>/?|\!@#%^&*~-+`
6. Hindari menggunakan Python built-in keyword `list` dan `str`
7. Hindari menggunakan *single* karakter

### Dynamic Typing
Pada python menggunakan *dynamic typing* tidak diharuskan menulis tipe data ketika membuat variabel. 

#### Kelebihan
1. Penulisan kode lebih cepat
2. Penyusunan logika lebih mudah

#### Kekurangan
1. Rawan runtime error
2. Kode sulit dibaca
3. Relatif lebih lambat

In [1]:
#Contoh variable assignment
a = 2

In [2]:
a

2

In [3]:
#Contoh bagaimana dynamic typing. dimana variabel a tidak perlu dikelarasikan tipe datanya
a = {'Jakarta', 'Bandung'}

In [4]:
a

{'Bandung', 'Jakarta'}

### Reassign Variable

In [5]:
a = 5

In [6]:
a

5

In [7]:
#Reassign variable
a = a + 10

In [8]:
a

15

Ada jalan pintas untuk contoh diatas. Python memungkinkan menambah, mengurangi, mengalikan, dan membagi angka dengan penugasan ulang menggunakan `+=`, `-=`, `*=`, dan `/=`.

In [9]:
a += 10

In [10]:
a

25

In [11]:
a *= 2

In [12]:
a

50

In [13]:
a /= 2

In [14]:
a

25.0

In [15]:
a -= 10

In [16]:
a

15.0

### Menentukan tipe variabel 

Untuk memeriksa jenis objek apa yang ditugaskan ke variabel menggunakan fungsi `type()`. Tipe data umum meliputi:
* **int** (integer)
* **float**
* **str** (string)
* **list**
* **tuple**
* **dict** (dictionary)
* **set**
* **bool** (Boolean True/False)

In [17]:
type (a)

float

In [18]:
a = {'Jakarta', 'Bandung'}

In [19]:
type (a)

set

In [20]:
a = (1,2,3)

In [21]:
type(a)

tuple